# Part 1 - XML

Review the following XML document:

``` XML
<?xml version="1.0"?> <catalog>
    <book id="bk102">
        <author>Ralls, Kim</author>
        <title>Midnight Rain</title>
        <genre>Fantasy</genre>
        <price>5.95</price> <publish_date>2000-12-16</publish_date>
        <description>A former architect battles corporate zombies, an evil sorceress, and her own childhood to become queen of the world.</description>
</book> </catalog>
```

2. Create an XML Schema for the given XML
3. Write a Python program to retrieve price from the XML document

##### Part 1: Create and XML Schema

``` XML
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="author"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="genre"/>
              <xs:element type="xs:float" name="price"/>
              <xs:element type="xs:date" name="publish_date"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
```

In [ ]:
import xml.etree.ElementTree
e = xml.etree.ElementTree.parse('xml file.xml').getroot()

# Return all prices of all children within the book
for i in e[0].findall('price'):
    print(i.text)

# Part 2 - JSON API

1. Explore the online API to understand the posts JSON data representation:
https://jsonplaceholder.typicode.com/posts
2. Connect to the online API to receive 500 posts (use JSON library)
3. Parse the posts JSON data and load into the MySQL relational database

In [34]:
import requests
import pandas as pd

posts_100 = requests.get('https://jsonplaceholder.typicode.com/posts/')

# Change the type of the object to be JSON
posts_100 = posts_100.json()

# Convert the JSON object to a pandas dataframe
posts_100_df = pd.DataFrame(posts_100)
posts_100_df.head()

,body,id,title,userId
0,quia et suscipit\nsuscipit recusandae consequu...,1,sunt aut facere repellat provident occaecati e...,1
1,est rerum tempore vitae\nsequi sint nihil repr...,2,qui est esse,1
2,et iusto sed quo iure\nvoluptatem occaecati om...,3,ea molestias quasi exercitationem repellat qui...,1
3,ullam et saepe reiciendis voluptatem adipisci\...,4,eum et est occaecati,1
4,repudiandae veniam quaerat sunt sed\nalias aut...,5,nesciunt quas odio,1

In [35]:
# reference: https://www.dataquest.io/blog/python-pandas-databases/

import sqlite3

sqlite_file = '/Users/scottvirshup/Documents/UC Davis/Q3/Data Design/HW 2/my_db.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

posts_100_df.to_sql("hundred", conn, if_exists="replace")

pd.read_sql_query("select * from hundred;", conn)